#page
  %header
    %h3 Account
  %section
    %article
      - form_tag url(:users, :update), :method => "patch", :class => "horizontal" do
        = partial 'partials/flash', :locals => { :flash => flash }
        = hidden_field_tag :"user[id]", :value => current_user.id
        .group
          %label{:for => "user[name]"} Name
          .controls
            = text_field_tag :"user[name]", :value => current_user.name
        .group
          %label{:for => "user[email]"} Email
          .controls
            = email_field_tag :"user[email]", :value => current_user.email
        %hr/
        .group
          %label{:for => "user[password]"} Password
          .controls
            = password_field_tag :"user[password]"
        .group.buttons
          .controls
            = submit_tag "Save", :class => "blue"

    %article
      %header
        %h4 API Key
      %section
        %p Here's your API key for Drafts. <em>Don't share it with anyone, or they'll have full access to your account!</em>
        %p
          %pre
            %code= current_user.access_token

    %article
      %header
        %h4 Dropbox
      %section
        %p Connecting with Dropbox will automatically back up your notes to your Dropbox. It will only save the raw Markdown, not the formatted text.
        %p
          %a.btn.blue.social{:href => ""}
            %i.ss-icon.ss-social-regular dropbox
            Connect with Dropbox
